body {
    background-image: linear-gradient(to bottom right,#00F490,#00BBC9) ;
    font-family: 'Open Sans', sans-serif;   
    font-size: 300;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

.jumbotron h1,.jumbotron p {
    color: white;
}

.btn-outline-primary {
    color: white;
    border-color: white;
}

.btn-outline-primary:hover {
    background-color: rgba(255, 255, 255, 0.185);
    border-color: white;
}

.myDisplay {
    text-shadow: 1px 2px 2px black;
}

.messageDiv {
    background-color: white;
    border: 1px solid black;
    border-radius: 0px 6px 6px 0px;
}

.danImage { 
    border-radius: 6px 0px 0px 6px; 
}

.h2 , h2 {
    font-size: 2rem;
}

a.fw-bold {
    text-decoration: none;
    color: #00BBC9;
}

a.fw-bold:hover {
    text-decoration: underline;
    color: #007bff;
}

.navbar-toggler-icon {
   fill: white !important;
}

.jumbotron h1 {
    font-size: 4.375rem;
}

.lead {
    font-size: 2.2rem;
}
.myCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.navButtons {
    border: 1px solid white;
    color: white !important;
    border-radius: 3px;
}

a.unOrderedList {
    text-align: center;
}

.myToggler {
    color: white;
}

.dropdown-menu {
    background-color: rgba(255, 255, 0, 0);
    border-color: white;
    margin-top: 1rem !important;
}

.dropdown-item {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    color: white;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 3px;
    color: white;
}


@media(max-width:992px){
    a.unOrderedList {
        margin-top: 14px;
        padding-top: 30px !important;
        font-size: 1.25rem;
    }
}


@media(max-width:768px){
    a.unOrderedList {
        padding-top: 30px !important;
    }
}

@media(max-width:496px){
    a.unOrderedList {
        padding: 30px 0px !important;
    }
    
}


